*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@font-face {
    font-family: 'Trebuchet MS'; /* Nombre de la fuente */
    src: url('fuentes/trebuc.ttf') format('truetype'); /* Ruta a tu archivo TTF */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tahoma'; /* Nombre de la fuente */
    src: url('fuentes/tahoma.ttf') format('truetype'); /* Ruta a tu archivo TTF */
    font-weight: normal;
    font-style: normal;
}




body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal en dispositivos móviles */

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


button {
    /* Tamaño y estilo del texto */
    font-size: 1.25em;
    font-weight: bold;
    /* Bordes redondeados */
    border-radius: 5px;
    
    /* Borde del botón */
    border: 2px solid rgba(0, 0, 0, 0.3);
    
    /* Sombra alrededor del botón */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
    /* Color del texto */
    color: white;
    
    /* Color de fondo del botón */
    background-color: #1054a4;
    
    /* Transiciones suaves para efectos */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    
    /* Cambio del cursor al pasar sobre el botón */
    cursor: crosshair;
}

button:hover{
    background-color: #018abd;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño en el hover */
    box-shadow: 0px 0px 5px #009DB9, 0 0 25px #009DB9; /* Cambia la sombra en el hover */
}

.boton1 a{
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    display: block;
    white-space: nowrap;
    cursor: crosshair;
}

.container{
    max-width: 1400px;
    margin: auto;
}






.desplegable {
    max-width: 1400px;
    margin: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-right: 3px; /* padding para separar el texto de las flechas */
    margin-right: 14px;
    color: white;
}

.desplegable a {
    text-decoration: none;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin-top: 14px;
    background-color: black;
    border-radius: 10px;
}

.desplegable .submenu a {
    display: flex;
    align-items: center;
}

.submenu a {
    padding: 5px 5px;
    display: block; /* Hacer que cada enlace sea un bloque vertical */
    padding: 10px 15px;
    width: 200px;
    height: 45px;
    color: white;
}

.submenu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.submenu a:hover{
    background-color: black;
}
.submenu a:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff8331, #ffa834, #ffcc33, #ffa834, #ff8331, #ffa834, #ffcc33, #ffa834);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 12s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.desplegable:hover .submenu {
    display: block;
}

.desplegable:hover > a {
    color: orange; /* Cambiar el color del enlace principal al hacer hover */
}



.desplegable::before,
.desplegable::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 1;
    transition: transform 0.32s ease-in-out;
}

.desplegable::before {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent white transparent;
    right: 0;
    transform: rotate(180deg);
}

.desplegable:hover::before {
    transform: rotate(0deg);
}

.desplegable::after {
    border-width: 5px 5px 0 5px;
    border-color: white transparent transparent transparent;
    right: 0;
    transform: rotate(0deg);
}

.desplegable:hover::after {
    transform: rotate(-180deg);
}








.color-acento{ color:#1054a4; }

header{
    background-color: black;
    height: 100px;
    position: relative;
    z-index: 6;
}


.coloruno a{
    color: orange;
}

.colordos a{
    color: white;
}






.logo-container {
    display: flex;
    align-items: center;
}

/* Agrega un margen a la imagen para separarla del texto */
.logo-container img {
    margin-right: -15px; /* Ajusta el margen según tu preferencia */
    width: 110px;
    margin-left: 55px;
}


header .logo{
    margin: 0;
    padding: 15px 25px;
    font-weight: bold;
    color:  white;
    font-size: 2.5em;
    font-family: 'Carter One';
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    padding: 15px 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #FFF4B9; 
    transition: color 0.18s ease;
}

.coloruno a:hover{
    color: orange;
}

.colordos a:hover{
    color: orange;
}

#hero::after {
    content: "";
    position: absolute;
    top: 80px;
    right: 0;
    width: 54%; /* Ancho de la imagen en relación con la sección */
    height: 100%;
    background-image: url(imágenes/hero/1.png);
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center;
    z-index: 3; /* Colocar la imagen detrás del contenido */
}
@media (max-width: 1500px) {
    #hero::after {
        background-position: left center; /* Mover la imagen hacia la izquierda */
        padding-right: 150px;
        width: 50%;
    }
}

@media (max-width: 850px) {
    #hero::after {
        width: 90%; /* Cambiar el ancho a 100% en pantallas de celular */
        background-position: center; /* Restaurar la posición centrada en pantallas más pequeñas */
    }
}


#hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%; /* Ancho de la imagen en relación con la sección */
    height: 100%;
    background-image: url(imágenes/hero/1.2.png);
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center;
    z-index: 3; /* Colocar la imagen detrás del contenido */
}

.linea-degradada {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Altura de la línea */
    background: linear-gradient(to bottom, transparent, #011133); /* Degradado azul */
    z-index: 5; /* Asegurarse de que esté encima de las capas inferiores */
}


#hero{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 103vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("videos/fondo\ video/fondo1.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden; /* Evitar que el contenido se desborde */
}


#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
    padding-bottom: 50px;
}



#hero h1 {
    white-space: nowrap; /* Evita saltos de línea */
    margin-left: 10vw;
    font-size: 75px;
    color: white;
    z-index: 5;
    font-family: 'Tahoma' ,sans-serif;
    position: relative;
    opacity: 0;
    animation: fadeInSlide 1s forwards, slideIn 0.9s ease-in-out forwards 0.9s;
}

@media (max-width: 850px) {
    #hero h1 {
        background-color: rgba(0, 0, 0, 0.6); /* Color de fondo negro con 50% de transparencia */
        border-radius: 10px;
    }

}

@keyframes fadeInSlide {
    to {
        opacity: 1;
    }
}



#hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

#hero h1 {
    font-size: 75px;
    white-space: normal;
}

#centered-button {
    font-size: 1.75em;
    z-index: 5;
    margin-top: -2%;
}

@media (min-width: 1001px) and (max-width: 1199px) {
    #centered-button {
        margin-left: 13%; /* Desde 1001px hasta 1199px */
    }
}

@media (min-width: 1200px) {
    #centered-button {
        margin-left: 17%; /* 1200px y más */
    }
}



@media (max-width: 1000px) {
    #hero h1 {
        font-size: 75px; /* Ajustar aún más el tamaño de fuente en pantallas más pequeñas */
        margin-left: 8px;
        text-align: center; /* Alinear el texto a la izquierda */
        white-space: normal; /* Permitir saltos de línea */
    }

    h1 br {
        display: none; /* Ocultar el <br> en pantallas más pequeñas */
    }
}

@media (max-width: 730px) {
    #hero h1 {
        font-size: 55px; /* Ajustar aún más el tamaño de fuente en pantallas más pequeñas */
        margin-left: 3%;
        text-align: center; /* Alinear el texto a la izquierda */
        white-space: normal; /* Permitir saltos de línea */
    }

    h1 br {
        display: none; /* Ocultar el <br> en pantallas más pequeñas */
    }
}









.texto p{
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 22px;
}
#somos {
    background-size: 100% auto;
    background: linear-gradient(to bottom, #06274c, #000535);
    background-size: cover;
    background-position: center;
    height: auto;
}

#somos .container {
    display: flex;
    flex-direction: column-reverse; /* Cambiar el orden de texto e imágenes */
    align-items: center;
    text-align: center;
    padding: 200px 12px;
    color: white;
}

#somos .texto {
    width: 100%;
    max-width: 600px;
    text-align: left;
    padding-left: 15px;
    margin-top: -200px;
}

#somos .img-container2 {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    padding-bottom: 100px;

    transition: all 0.3s ease;
}
.img-container2 #ima1:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.img-container2 #ima2:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }


#somos .img-container2 img {
    width: 190px;
    height: 268px;
    margin: 10px;
}

#somos h2 {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 45px;
}

#somos .anuncio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -245px;
    padding-bottom: 65px;
}

#somos .anuncio iframe {
    max-width: 100%;
    border: 2px solid #245CD5; /* Borde alrededor del video */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 20px 15px #020c87; /* Borde desenfocado */
}


@media (min-width: 1050px) {
    #somos .container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #somos .texto {
        margin-left: 20px; /* Agregar un margen a la izquierda en pantallas más pequeñas */
    }
}

@media (max-width: 1050px) {

    #somos .texto h2{
        margin-bottom: 30px; /* Agregar un margen a la izquierda en pantallas más pequeñas */
    }

    #somos .texto{
        margin-bottom: 100px;
    }
}

@media (min-width: 550px) and (max-width: 1050px) {
    #somos .texto {
        max-width: 800px; /* Ajustar el ancho de la sección .texto */
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    #somos .texto p{
        margin-bottom: 30px; /* Agregar un margen a la izquierda en pantallas más pequeñas */
        padding-left: 20px;
        padding-right: 20px;
    }

    #somos .img-container2 img {
        width: 170px;
        height: 238px;
        margin: 10px;
    }
}

@media (max-width: 700px) {
    #somos .anuncio iframe {
        width: 85%;
    }
}

@media (max-width: 600px) {
    #somos .anuncio iframe {
        width: 90%;
        height: 260px;
    }
}





#nuestros-tutoriales .titulont h2 {
    display: flex;
    font-size: 4em;
    margin-top: 20px;
    font-family: 'Trebuchet MS',sans-serif;
    margin: 30px;
}

#nuestros-tutoriales {
    flex-direction: column; /* Cambio para que los elementos estén en columna */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #001f3f, #04072F);
    color: white;
    text-align: center;
    height: auto;
    position: relative;
    padding-top: 30px;
}

.contenedor-nt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
}


.tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.tutorial h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     /* Tamaño y estilo del texto */
     font-size: 1.25em;
     font-weight: bold;
     
     /* Espaciado interno del botón */
     padding: 10px 30px;
     
     /* Bordes redondeados */
     border-radius: 5px;
     
     /* Borde del botón */
     border: 2px solid rgba(0, 0, 0, 0.3);
     
     /* Sombra alrededor del botón */
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     
     /* Color del texto */
     color: white;
     
     /* Color de fondo del botón */
     background-color: #1054a4;
     
     /* Transiciones suaves para efectos */
     transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;


    padding: 10px 50px;
    color: white;
    font-size: 2.7em;
    font-family: 'Trebuchet MS',sans-serif;
    margin: 30px;
    opacity: 1;
    width: 90%;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}


.tutorial img {
    width: 400px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
    opacity: 0.9;
}




#nuestros-tutoriales img {
    object-fit: cover;
    opacity: 0.9;
    transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

.tutorial:hover img,
.tutorial:hover h2 {
    cursor: crosshair;
    width: 450px;
    opacity: 1;
}

.tutorial:hover h2 {
    width: 105%;

    background-color: #018abd;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño en el hover */
    box-shadow: 0px 0px 5px #009DB9, 0 0 25px #009DB9; /* Cambia la sombra en el hover */
}


@media (max-width: 1190px) {
    .contenedor-nt {
        flex-direction: column;
    }
}

@media (min-width: 1191px) and (max-width: 1400px) {
    .contenedor-nt {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tutorial {
        width: 45%; /* Ajustar el ancho de los tutoriales para que haya dos por fila */
        margin: 10px;
    }
}

@media (min-width: 1401px) {
    .contenedor-nt {
        flex-direction: row;
    }

    .tutorial {
        width: auto; /* Volver al ancho automático */
        margin: 10px;
    }
}

@media (max-width: 550px) {
    
    .tutorial {
        width: 100%; /* Ajusta el ancho de los tutoriales para ocupar todo el ancho */
        margin-bottom: 35px;
    }

    .tutorial img {
        width: 90%; /* Ajusta el ancho de las imágenes para ocupar todo el ancho */
        height: 260px;
    }

    .tutorial h2 {
        font-size: 2.5em; /* Ajusta el tamaño de fuente de los títulos */
        width: 65%;
        white-space: nowrap;
    }

    .tutorial:hover img,
.tutorial:hover h2 {
    cursor: crosshair;
    width: 95%;
    opacity: 1;
}

.tutorial:hover h2 {
    width: 72%;
}
}











#caracteristicas {
    background: linear-gradient(to bottom, #04072F, #001f3f);
    display: flex;
    align-items: center;
}

#caracteristicas .left-column h2 {
    color: #018abd;
    font-size: 90px;
    margin: 0;
}

#caracteristicas .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 12px;
    align-items: center; /* Centrar verticalmente */
}

#caracteristicas .left-column {
    font-size: 20px;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

#caracteristicas .left-column ul {
    margin-top: 100px;
    padding: 0;
    list-style-type: disc;
}

#caracteristicas .left-column li {
    margin: 16px 16px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}

#caracteristicas button {
    margin-top: 60px;
}

#caracteristicas .visual.img {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -200px;
}

#caracteristicas .visual.img img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1250px) {

    #caracteristicas .left-column h2 {
        margin-top: -150px;
    }

    #caracteristicas{
        height: 1400px;
    }

    #caracteristicas .left-column {
        width: 100%;
        display: flex;
    }

    #caracteristicas .container {
        flex-direction: column; /* Cambiar el orden de los elementos */
    }
}

@media (max-width: 764px) {
    #caracteristicas .visual.img img {
        max-width: 400px;
        height: auto;
        display: flex;
        margin-left: -10px;
    }

    #caracteristicas h2{
        text-align: center;
    }

}






#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #012C74, #00133A);
    color: white;
    height: auto;
    padding: 20px;
}

#final h2{
    font-size: 70px;
    margin-bottom: 125px;
}

#final button{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    #final h2{
        font-size: 60px;
    }
}


@media (max-width: 550px) {
    #final h2{
        font-size: 45px;
    }

    #final button{
        font-size: 1.7em;
    }
}



.slider {
    position: relative;
    width: 260px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite; /* Ajusta la duración a 15 segundos */
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 72deg)) translateZ(270px); /* 360 / 5 = 72 */
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.85s; /* Ajusta la duración de la transición a 0.5 segundos */
}

.slider span:hover img {
    transform: translateY(-22px) scale(1.1);
    transition: 0.80s; /* Ajusta la duración de la transición al hacer hover a 0.2 segundos */
}


@media (max-width: 762px) {
    .slider {
        width: 230px;
        height: 170px;
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(200px); /* 360 / 5 = 72 */
    }
}

@media (max-width: 550px) {
    .slider {
        width: 210px;
        height: 180px;
        margin-top: -40px;
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(180px); /* 360 / 5 = 72 */
    }
}








footer {
    background: linear-gradient(to bottom, #001f3f, #04072F);
    padding: 20px 0;
    display: flex;
    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
    align-items: center; /* Centrar verticalmente */
    position: relative;
}

/* Estilos de las redes sociales */
.redes {
    display: flex;
    gap: 15px; /* Espacio entre los enlaces */
    align-items: center;
    margin-left: 30px; /* Margen izquierdo de 10px */
    overflow-x: auto; /* Permite desplazarse horizontalmente si el contenido es demasiado ancho */
    -webkit-overflow-scrolling: touch; /* Agrega un desplazamiento más suave en dispositivos táctiles */
    margin-right: 30px;
}

.redes a {
    text-decoration: none;
    color: #333; /* Color de texto para los enlaces */
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /*Fondo negro con opacidad*/
    width: 130px;
    border-radius: 10px;
    font-family: 'Carter One';
    font-size: 14px;

    transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease, border-radius 0.3s ease;
}

.redes a:hover{
    color: white;
    background-color: #393939;
    width: 130px;
    border-radius: 10px;
}

.redes a img {
    width: 22px;
    height: 22px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}








.menu-toggle {
    display: none; /* Oculta el checkbox */
}

.hamburger {
    cursor: pointer;
    padding: 10px;

    transition: transform 0.3s, opacity 0.3s; /* Agrega transición a transform y opacity */
}

.bar {
    display: flex;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;

    transition: transform 0.3s, opacity 0.3s; /* Agrega transición a transform y opacity */
}

/* Estilos cuando el botón de hamburguesa está marcado */
.menu-toggle:checked + .hamburger .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle:checked + .hamburger .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .hamburger .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}





/* Estilos para pantallas más grandes */
@media (min-width: 1171px) {
    /* Ajusta los estilos del menú normal según tus necesidades */
    .menu-toggle {
        display: none; /* Ocultar el checkbox de hamburguesa */
    }

    .hamburger {
        display: none; /* Ocultar el icono de hamburguesa */
    }

    header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
    /* Otros estilos para el encabezado */
    }

    header nav {
        display: flex; /* Mostrar el menú normal */
        flex-direction: row;
        /* ... otros estilos ... */
    }

}




/* Estilos para pantallas más pequeñas */
@media (max-width: 1170px) {

    .logo-container{
       display: flex;
       position: absolute;
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 102; /* Ajusta el valor según sea necesario */
       top: 0%;
   }
   

    .hamburger {
        display: block;
        cursor: pointer;
        padding-right: 3px;
        transition: transform 0.3s ease-in-out;
        position: absolute;
        top: 50%;
        right: 20px; /* Ajusta el espacio desde el borde derecho */
        transform: translate(0, -50%); /*Centrar el boton*/
        align-items: center;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px auto;
    }
    
    nav {
        position: fixed;
        top: -3px;
        left: -100%; /* Inicialmente oculto */
        width: 46vh; /* Ancho del menú deslizante */
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
        backdrop-filter: blur(18px); /*Desenfoque*/
        display: flex;
        flex-direction: column;
        margin-top: 15vh;

        align-items: flex-start; /* Alinear a la izquierda */
        justify-content: flex-start; /* Alinear desde la parte superior */
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        display: flex;
        margin-left: 10px;
        width: 44.5vh;
    }

    nav a:hover{
        background-color: #0020A0;
        border-radius: 10px;
        color: white;
    }

    .desplegable a:hover{
        color: white;
    }
   
    #menu-toggle:checked + .hamburger + nav {
        left: 0; /* Muestra el menú deslizante al desplazarlo desde la izquierda */
        display: flex; /* Mostrar el menú cuando el checkbox está marcado */
    }

    .desplegable {
        display: flex;
        margin: 0px 0;
        position: relative;
    }

    .coloruno a{
         margin: 0px 0px 0px 10px;
         margin-top: 30px;
         padding: 15px 12px;
         height: 58px;
    }

    .coloruno a:hover{
        background: none;
        color: orange;
    }


    .colordos a{
        margin: 0px 0px 0px 10px;
        padding: 15px 12px;
        height: 58px;
    }


    .coloruno{
        margin: 0px 0px;
        padding: 0px 3px 0px 0px;
   }


   .colordos{
        margin: 0px 0px;
        padding: 0px 3px 0px 0px;
   }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
        }

    header nav {
        display: none; /* Ocultar el menú normal */
        padding: 0px 0px;
        margin-top: 102px;
    }


    /* Oculta los submenús en la versión móvil */

    .desplegable:hover .submenu {
        display: none;
    }
    
    .desplegable::before,
    .desplegable::after {
        display: none;
    }




}




@media (max-width: 550px){
    .logo-container{
        left: 35%;
        transform: translate(-45%);
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 102; /* Ajusta el valor según sea necesario */
        top: 0%;
    }

    .logo-container img {
        width: 110px;
    }

    .menu-toggle:checked + .hamburger + nav {
        width: 43vh;
    }

    nav a{
        font-size: 22px;
        width: 41.5vh;
    }
}





@media (min-width: 850px){

    footer .container{
        justify-content: flex-end;
    }
}

